<!DOCTYPE html>
<html th:fragment="layout (template, pageTitle)">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title th:text="${'PC Builds :: ' + pageTitle}"></title>
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
		integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
</head>

<body>
	<div class="container">
		<!-- Navbar -->
		<nav class="navbar bg-primary navbar-expand-lg" data-bs-theme="dark">
			<div class="container-fluid">
				<a class="navbar-brand" href="#">PC Builds</a>
				<button class="navbar-toggler" type="button" data-bs-toggle="collapse"
					data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false"
					aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>
				<div class="collapse navbar-collapse" id="navbarNavAltMarkup">
					<div class="navbar-nav">
						<a class="nav-link" th:href="@{/builds}">Builds</a>
						<a class="nav-link" th:href="@{/components}">Components</a>
						<a class="nav-link" th:href="@{/users}">Users</a>
					</div>
				</div>
				<form method="post" th:action="@{/logout}" class="d-flex">
					<button type="submit" class="btn btn-sm btn-danger text-uppercase fw-semibold">Logout</button>
				</form>
			</div>
		</nav>

		<section class="py-5">
			<th:block th:insert="${template}" />
		</section>
	</div>

	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
		integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
		crossorigin="anonymous"></script>
</body>

</html>