<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{fragments/layout :: layout (~{::body}, 'Welcome')}">
<body>
	<div class="row">
		<div class="col-4">
			<div class="card text-bg-warning">
				<div class="card-body">
					<h5 class="card-title">90</h5>
					<h6 class="card-subtitle">Total Builds</h6>
				</div>
			</div>	
		</div>	
		<div class="col-4">
			<div class="card text-bg-danger">
				<div class="card-body">
					<h5 class="card-title">90</h5>
					<h6 class="card-subtitle">Total Components</h6>
				</div>
			</div>	
		</div>	
		<div class="col-4">
			<div class="card text-bg-success">
				<div class="card-body">
					<h5 class="card-title">90</h5>
					<h6 class="card-subtitle">Total Users</h6>
				</div>
			</div>	
		</div>	
	</div>
</body>

</html>